---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import type { GetStaticPathsOptions } from "astro";
import BlogPostCard from "../../components/content/BlogPostCard.astro";
import BlogTagsDropdown from "../../components/ui/Dropdown/BlogTagsDropdown.astro";
import Pagination from "../../components/ui/Pagination.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  // Get MDX blog posts
  const blogPosts = await getCollection("blog");

  // Sort by published date (descending order - most recent first)
  const sortedEntries = blogPosts.sort((a, b) => {
    const dateA = new Date(a.data.published).getTime();
    const dateB = new Date(b.data.published).getTime();
    return dateB - dateA;
  });

  return paginate(sortedEntries, {
    pageSize: 9, // Number of entries per page
  });
}

const { page } = Astro.props;
---

<MainLayout
  title={`All Posts - Page ${page.currentPage} of ${page.lastPage}`}
>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h1
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Blog Posts
        </h1>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">
          Discover our destination guides, travel tips, and personal stories from our adventures around the world.
        </p>
      </div>
      <div class="flex flex-col items-start justify-between p-2 space-y-3 flex-row space-y-0 mb-4">
        <div ><span class="text-sm font-normal text-gray-500 dark:text-gray-400"
          >Showing <span class="font-semibold text-gray-900 dark:text-white"
            >{page.start + 1}-{page.end + 1}</span
          > of <span class="font-semibold text-gray-900 dark:text-white"
            >{page.total}</span
          > posts</span
        ></div>
        <div id="3" class="w-1/2 md:w-1/4 p-2 order-2 md:order-3"><BlogTagsDropdown /></div>
    </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        {page.data.map((post) => <BlogPostCard post={post} />)}
      </div>
    </div>
  </section>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <Pagination 
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        baseUrl="/blog"
      />
    </div>
  </section>
</MainLayout>
